/*
 * Shutterstock
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.AssetType;
import com.shutterstock.api.models.CatalogCollection;
import com.shutterstock.api.models.CatalogCollectionDataList;
import com.shutterstock.api.models.CatalogCollectionItemDataList;
import com.shutterstock.api.models.CreateCatalogCollection;
import com.shutterstock.api.models.CreateCatalogCollectionItems;
import com.shutterstock.api.models.RemoveCatalogCollectionItems;
import com.shutterstock.api.models.Sort5;
import com.shutterstock.api.models.UpdateCatalogCollection;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CatalogApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CatalogApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint searches for assets in the account's catalog. If you specify more than one
     * search parameter, the API uses an AND condition. Array parameters can be specified multiple
     * times; in this case, the API uses an AND or an OR condition with those values, depending on
     * the parameter. You can also filter search terms out in the `query` parameter by prefixing the
     * term with NOT.
     * @param  sort  Optional parameter: Sort by
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  query  Optional parameter: One or more search terms separated by spaces
     * @param  collectionId  Optional parameter: Filter by collection id
     * @param  assetType  Optional parameter: Filter by asset type
     * @return    Returns the CatalogCollectionItemDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollectionItemDataList> searchCatalog(
            final Sort5 sort,
            final Integer page,
            final Integer perPage,
            final String query,
            final List<String> collectionId,
            final List<AssetType> assetType) throws ApiException, IOException {
        return prepareSearchCatalogRequest(sort, page, perPage, query, collectionId,
                assetType).execute();
    }

    /**
     * This endpoint searches for assets in the account's catalog. If you specify more than one
     * search parameter, the API uses an AND condition. Array parameters can be specified multiple
     * times; in this case, the API uses an AND or an OR condition with those values, depending on
     * the parameter. You can also filter search terms out in the `query` parameter by prefixing the
     * term with NOT.
     * @param  sort  Optional parameter: Sort by
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  query  Optional parameter: One or more search terms separated by spaces
     * @param  collectionId  Optional parameter: Filter by collection id
     * @param  assetType  Optional parameter: Filter by asset type
     * @return    Returns the CatalogCollectionItemDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollectionItemDataList>> searchCatalogAsync(
            final Sort5 sort,
            final Integer page,
            final Integer perPage,
            final String query,
            final List<String> collectionId,
            final List<AssetType> assetType) {
        try {
            return prepareSearchCatalogRequest(sort, page, perPage, query, collectionId,
            assetType).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchCatalog.
     */
    private ApiCall<ApiResponse<CatalogCollectionItemDataList>, ApiException> prepareSearchCatalogRequest(
            final Sort5 sort,
            final Integer page,
            final Integer perPage,
            final String query,
            final List<String> collectionId,
            final List<AssetType> assetType) {
        return new ApiCall.Builder<ApiResponse<CatalogCollectionItemDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/search")
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : "newest").isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("query")
                                .value(query).isRequired(false))
                        .queryParam(param -> param.key("collection_id")
                                .value(collectionId).isRequired(false))
                        .queryParam(param -> param.key("asset_type")
                                .value(AssetType.toValue(assetType)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollectionItemDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns a list of catalog collections.
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort by
     * @param  shared  Optional parameter: Set to true to omit collections that you own and return
     *         only collections that are shared with you
     * @return    Returns the CatalogCollectionDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollectionDataList> getCollections(
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final Boolean shared) throws ApiException, IOException {
        return prepareGetCollectionsRequest(page, perPage, sort, shared).execute();
    }

    /**
     * This endpoint returns a list of catalog collections.
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort by
     * @param  shared  Optional parameter: Set to true to omit collections that you own and return
     *         only collections that are shared with you
     * @return    Returns the CatalogCollectionDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollectionDataList>> getCollectionsAsync(
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final Boolean shared) {
        try {
            return prepareGetCollectionsRequest(page, perPage, sort, shared).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getCollections.
     */
    private ApiCall<ApiResponse<CatalogCollectionDataList>, ApiException> prepareGetCollectionsRequest(
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final Boolean shared) {
        return new ApiCall.Builder<ApiResponse<CatalogCollectionDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections")
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : "newest").isRequired(false))
                        .queryParam(param -> param.key("shared")
                                .value((shared != null) ? shared : false).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollectionDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid status value",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint creates a catalog collection and optionally adds assets. To add assets to the
     * collection later, use `PATCH /v2/catalog/collections/{collection_id}/items`.
     * @param  body  Required parameter: Create a catalog collection and, optionally, add items.
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollection> createCollection(
            final CreateCatalogCollection body) throws ApiException, IOException {
        return prepareCreateCollectionRequest(body).execute();
    }

    /**
     * This endpoint creates a catalog collection and optionally adds assets. To add assets to the
     * collection later, use `PATCH /v2/catalog/collections/{collection_id}/items`.
     * @param  body  Required parameter: Create a catalog collection and, optionally, add items.
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollection>> createCollectionAsync(
            final CreateCatalogCollection body) {
        try {
            return prepareCreateCollectionRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createCollection.
     */
    private ApiCall<ApiResponse<CatalogCollection>, ApiException> prepareCreateCollectionRequest(
            final CreateCatalogCollection body) {
        return new ApiCall.Builder<ApiResponse<CatalogCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollection.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint updates the metadata of a catalog collection.
     * @param  collectionId  Required parameter: ID of collection that needs to be modified
     * @param  body  Required parameter: Collections Metadata to update
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollection> updateCollection(
            final String collectionId,
            final UpdateCatalogCollection body) throws ApiException, IOException {
        return prepareUpdateCollectionRequest(collectionId, body).execute();
    }

    /**
     * This endpoint updates the metadata of a catalog collection.
     * @param  collectionId  Required parameter: ID of collection that needs to be modified
     * @param  body  Required parameter: Collections Metadata to update
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollection>> updateCollectionAsync(
            final String collectionId,
            final UpdateCatalogCollection body) {
        try {
            return prepareUpdateCollectionRequest(collectionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updateCollection.
     */
    private ApiCall<ApiResponse<CatalogCollection>, ApiException> prepareUpdateCollectionRequest(
            final String collectionId,
            final UpdateCatalogCollection body) {
        return new ApiCall.Builder<ApiResponse<CatalogCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections/{collection_id}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("collection_id").value(collectionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollection.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint deletes a catalog collection. It does not remove the assets from the user's
     * account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to delete
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteCollection(
            final String collectionId) throws ApiException, IOException {
        return prepareDeleteCollectionRequest(collectionId).execute();
    }

    /**
     * This endpoint deletes a catalog collection. It does not remove the assets from the user's
     * account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to delete
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteCollectionAsync(
            final String collectionId) {
        try {
            return prepareDeleteCollectionRequest(collectionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteCollection.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteCollectionRequest(
            final String collectionId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections/{collection_id}")
                        .templateParam(param -> param.key("collection_id").value(collectionId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("404",
                                 ErrorCase.setReason("Collection not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint adds assets to a catalog collection. It also automatically adds the assets to
     * the user's account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to add assets to
     * @param  body  Required parameter: Collection item attributes to add to collection
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollection> addToCollection(
            final String collectionId,
            final CreateCatalogCollectionItems body) throws ApiException, IOException {
        return prepareAddToCollectionRequest(collectionId, body).execute();
    }

    /**
     * This endpoint adds assets to a catalog collection. It also automatically adds the assets to
     * the user's account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to add assets to
     * @param  body  Required parameter: Collection item attributes to add to collection
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollection>> addToCollectionAsync(
            final String collectionId,
            final CreateCatalogCollectionItems body) {
        try {
            return prepareAddToCollectionRequest(collectionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for addToCollection.
     */
    private ApiCall<ApiResponse<CatalogCollection>, ApiException> prepareAddToCollectionRequest(
            final String collectionId,
            final CreateCatalogCollectionItems body) {
        return new ApiCall.Builder<ApiResponse<CatalogCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections/{collection_id}/items")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("collection_id").value(collectionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollection.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint removes assets from a catalog collection. It does not remove the assets from
     * the user's account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to remove assets from
     * @param  body  Required parameter: Items to remove from the collection
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CatalogCollection> deleteFromCollection(
            final String collectionId,
            final RemoveCatalogCollectionItems body) throws ApiException, IOException {
        return prepareDeleteFromCollectionRequest(collectionId, body).execute();
    }

    /**
     * This endpoint removes assets from a catalog collection. It does not remove the assets from
     * the user's account's catalog.
     * @param  collectionId  Required parameter: The ID of the collection to remove assets from
     * @param  body  Required parameter: Items to remove from the collection
     * @return    Returns the CatalogCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CatalogCollection>> deleteFromCollectionAsync(
            final String collectionId,
            final RemoveCatalogCollectionItems body) {
        try {
            return prepareDeleteFromCollectionRequest(collectionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteFromCollection.
     */
    private ApiCall<ApiResponse<CatalogCollection>, ApiException> prepareDeleteFromCollectionRequest(
            final String collectionId,
            final RemoveCatalogCollectionItems body) {
        return new ApiCall.Builder<ApiResponse<CatalogCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/catalog/collections/{collection_id}/items")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("collection_id").value(collectionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CatalogCollection.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}