/*
 * Shutterstock
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.ComputerVisionImageCreateResponse;
import com.shutterstock.api.models.ImageCreateRequest;
import com.shutterstock.api.models.ImageSearchResults;
import com.shutterstock.api.models.KeywordDataList;
import com.shutterstock.api.models.Language;
import com.shutterstock.api.models.License9;
import com.shutterstock.api.models.VideoSearchResults;
import com.shutterstock.api.models.View2;
import com.shutterstock.api.models.containers.GetKeywordsAssetId;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ComputerVisionApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ComputerVisionApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint uploads an image for reverse image or video search. Images must be in JPEG or
     * PNG format. To get the search results, pass the upload ID that this endpoint returns to the
     * GET /v2/cv/similar/images or GET /v2/cv/similar/videos endpoints. Contact us for access to
     * this endpoint.
     * @param  body  Required parameter: A Base 64 encoded jpeg or png; images can be no larger than
     *         10mb and can be no larger than 10,000 pixels in width or height
     * @return    Returns the ComputerVisionImageCreateResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ComputerVisionImageCreateResponse> uploadImage(
            final ImageCreateRequest body) throws ApiException, IOException {
        return prepareUploadImageRequest(body).execute();
    }

    /**
     * This endpoint uploads an image for reverse image or video search. Images must be in JPEG or
     * PNG format. To get the search results, pass the upload ID that this endpoint returns to the
     * GET /v2/cv/similar/images or GET /v2/cv/similar/videos endpoints. Contact us for access to
     * this endpoint.
     * @param  body  Required parameter: A Base 64 encoded jpeg or png; images can be no larger than
     *         10mb and can be no larger than 10,000 pixels in width or height
     * @return    Returns the ComputerVisionImageCreateResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ComputerVisionImageCreateResponse>> uploadImageAsync(
            final ImageCreateRequest body) {
        try {
            return prepareUploadImageRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for uploadImage.
     */
    private ApiCall<ApiResponse<ComputerVisionImageCreateResponse>, ApiException> prepareUploadImageRequest(
            final ImageCreateRequest body) {
        return new ApiCall.Builder<ApiResponse<ComputerVisionImageCreateResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/cv/images")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ComputerVisionImageCreateResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("413",
                                 ErrorCase.setReason("Payload Too Large",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("415",
                                 ErrorCase.setReason("Unsupported Media Type",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns images that are visually similar to an image that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to find similar images for
     * @param  license  Optional parameter: Show only images with the specified license
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @return    Returns the ImageSearchResults wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ImageSearchResults> getSimilarImages(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) throws ApiException, IOException {
        return prepareGetSimilarImagesRequest(assetId, license, safe, language, page, perPage,
                view).execute();
    }

    /**
     * This endpoint returns images that are visually similar to an image that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to find similar images for
     * @param  license  Optional parameter: Show only images with the specified license
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @return    Returns the ImageSearchResults wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ImageSearchResults>> getSimilarImagesAsync(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) {
        try {
            return prepareGetSimilarImagesRequest(assetId, license, safe, language, page, perPage,
            view).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getSimilarImages.
     */
    private ApiCall<ApiResponse<ImageSearchResults>, ApiException> prepareGetSimilarImagesRequest(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) {
        return new ApiCall.Builder<ApiResponse<ImageSearchResults>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/cv/similar/images")
                        .queryParam(param -> param.key("asset_id")
                                .value(assetId))
                        .queryParam(param -> param.key("license")
                                .value(License9.toValue(license)).isRequired(false))
                        .queryParam(param -> param.key("safe")
                                .value((safe != null) ? safe : true).isRequired(false))
                        .queryParam(param -> param.key("language")
                                .value((language != null) ? language.value() : null).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("view")
                                .value((view != null) ? view.value() : "minimal").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ImageSearchResults.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns videos that are visually similar to an image that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to find similar videos for
     * @param  license  Optional parameter: Show only videos with the specified license
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @return    Returns the VideoSearchResults wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<VideoSearchResults> getSimilarVideos(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) throws ApiException, IOException {
        return prepareGetSimilarVideosRequest(assetId, license, safe, language, page, perPage,
                view).execute();
    }

    /**
     * This endpoint returns videos that are visually similar to an image that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to find similar videos for
     * @param  license  Optional parameter: Show only videos with the specified license
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @return    Returns the VideoSearchResults wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<VideoSearchResults>> getSimilarVideosAsync(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) {
        try {
            return prepareGetSimilarVideosRequest(assetId, license, safe, language, page, perPage,
            view).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getSimilarVideos.
     */
    private ApiCall<ApiResponse<VideoSearchResults>, ApiException> prepareGetSimilarVideosRequest(
            final String assetId,
            final List<License9> license,
            final Boolean safe,
            final Language language,
            final Integer page,
            final Integer perPage,
            final View2 view) {
        return new ApiCall.Builder<ApiResponse<VideoSearchResults>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/cv/similar/videos")
                        .queryParam(param -> param.key("asset_id")
                                .value(assetId))
                        .queryParam(param -> param.key("license")
                                .value(License9.toValue(license)).isRequired(false))
                        .queryParam(param -> param.key("safe")
                                .value((safe != null) ? safe : true).isRequired(false))
                        .queryParam(param -> param.key("language")
                                .value((language != null) ? language.value() : null).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("view")
                                .value((view != null) ? view.value() : "minimal").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, VideoSearchResults.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns a list of suggested keywords for a media item that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to suggest keywords for
     * @return    Returns the KeywordDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<KeywordDataList> getKeywords(
            final GetKeywordsAssetId assetId) throws ApiException, IOException {
        return prepareGetKeywordsRequest(assetId).execute();
    }

    /**
     * This endpoint returns a list of suggested keywords for a media item that you specify or
     * upload.
     * @param  assetId  Required parameter: The asset ID or upload ID to suggest keywords for
     * @return    Returns the KeywordDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<KeywordDataList>> getKeywordsAsync(
            final GetKeywordsAssetId assetId) {
        try {
            return prepareGetKeywordsRequest(assetId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getKeywords.
     */
    private ApiCall<ApiResponse<KeywordDataList>, ApiException> prepareGetKeywordsRequest(
            final GetKeywordsAssetId assetId) {
        return new ApiCall.Builder<ApiResponse<KeywordDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/cv/keywords")
                        .queryParam(param -> param.key("asset_id")
                                .value(assetId))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, KeywordDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("415",
                                 ErrorCase.setReason("Unsupported Media Type",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}