/*
 * ShutterstockApiExplorerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.CollectionDataList;
import com.shutterstock.api.models.CollectionItemDataList;
import com.shutterstock.api.models.ContributorProfile;
import com.shutterstock.api.models.ContributorProfileDataList;
import com.shutterstock.api.models.MCollection;
import com.shutterstock.api.models.Sort24;
import com.shutterstock.api.models.Sort5;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ContributorsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ContributorsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint lists information about one or more contributors, including contributor type,
     * equipment they use and other attributes.
     * @param  id  Required parameter: One or more contributor IDs
     * @return    Returns the ContributorProfileDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ContributorProfileDataList> getContributorList(
            final List<String> id) throws ApiException, IOException {
        return prepareGetContributorListRequest(id).execute();
    }

    /**
     * This endpoint lists information about one or more contributors, including contributor type,
     * equipment they use and other attributes.
     * @param  id  Required parameter: One or more contributor IDs
     * @return    Returns the ContributorProfileDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ContributorProfileDataList>> getContributorListAsync(
            final List<String> id) {
        try {
            return prepareGetContributorListRequest(id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getContributorList.
     */
    private ApiCall<ApiResponse<ContributorProfileDataList>, ApiException> prepareGetContributorListRequest(
            final List<String> id) {
        return new ApiCall.Builder<ApiResponse<ContributorProfileDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/contributors")
                        .queryParam(param -> param.key("id")
                                .value(id))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("customer_accessCode")
                                        .add("basic")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ContributorProfileDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint shows information about a single contributor, including contributor type,
     * equipment they use, and other attributes.
     * @param  contributorId  Required parameter: Contributor ID
     * @return    Returns the ContributorProfile wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ContributorProfile> getContributor(
            final String contributorId) throws ApiException, IOException {
        return prepareGetContributorRequest(contributorId).execute();
    }

    /**
     * This endpoint shows information about a single contributor, including contributor type,
     * equipment they use, and other attributes.
     * @param  contributorId  Required parameter: Contributor ID
     * @return    Returns the ContributorProfile wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ContributorProfile>> getContributorAsync(
            final String contributorId) {
        try {
            return prepareGetContributorRequest(contributorId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getContributor.
     */
    private ApiCall<ApiResponse<ContributorProfile>, ApiException> prepareGetContributorRequest(
            final String contributorId) {
        return new ApiCall.Builder<ApiResponse<ContributorProfile>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/contributors/{contributor_id}")
                        .templateParam(param -> param.key("contributor_id").value(contributorId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("customer_accessCode")
                                        .add("basic")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ContributorProfile.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint lists collections based on contributor ID.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  sort  Optional parameter: Sort order
     * @return    Returns the CollectionDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CollectionDataList> getContributorCollectionsList(
            final String contributorId,
            final Sort24 sort) throws ApiException, IOException {
        return prepareGetContributorCollectionsListRequest(contributorId, sort).execute();
    }

    /**
     * This endpoint lists collections based on contributor ID.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  sort  Optional parameter: Sort order
     * @return    Returns the CollectionDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CollectionDataList>> getContributorCollectionsListAsync(
            final String contributorId,
            final Sort24 sort) {
        try {
            return prepareGetContributorCollectionsListRequest(contributorId, sort).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getContributorCollectionsList.
     */
    private ApiCall<ApiResponse<CollectionDataList>, ApiException> prepareGetContributorCollectionsListRequest(
            final String contributorId,
            final Sort24 sort) {
        return new ApiCall.Builder<ApiResponse<CollectionDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/contributors/{contributor_id}/collections")
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : null).isRequired(false))
                        .templateParam(param -> param.key("contributor_id").value(contributorId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("customer_accessCode")
                                        .add("basic")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CollectionDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Contributor not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint gets more detailed information about a contributor's collection, including its
     * cover image, timestamps for its creation, and most recent update. To get the items in
     * collections, use GET /v2/contributors/{contributor_id}/collections/{id}/items.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  id  Required parameter: Collection ID that belongs to the contributor
     * @return    Returns the MCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<MCollection> getContributorCollections(
            final String contributorId,
            final String id) throws ApiException, IOException {
        return prepareGetContributorCollectionsRequest(contributorId, id).execute();
    }

    /**
     * This endpoint gets more detailed information about a contributor's collection, including its
     * cover image, timestamps for its creation, and most recent update. To get the items in
     * collections, use GET /v2/contributors/{contributor_id}/collections/{id}/items.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  id  Required parameter: Collection ID that belongs to the contributor
     * @return    Returns the MCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<MCollection>> getContributorCollectionsAsync(
            final String contributorId,
            final String id) {
        try {
            return prepareGetContributorCollectionsRequest(contributorId, id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getContributorCollections.
     */
    private ApiCall<ApiResponse<MCollection>, ApiException> prepareGetContributorCollectionsRequest(
            final String contributorId,
            final String id) {
        return new ApiCall.Builder<ApiResponse<MCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/contributors/{contributor_id}/collections/{id}")
                        .templateParam(param -> param.key("contributor_id").value(contributorId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("customer_accessCode")
                                        .add("basic")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, MCollection.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Set not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint lists the IDs of items in a contributor's collection and the date that each was
     * added.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  id  Required parameter: Collection ID that belongs to the contributor
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort order
     * @return    Returns the CollectionItemDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CollectionItemDataList> getContributorCollectionItems(
            final String contributorId,
            final String id,
            final Integer page,
            final Integer perPage,
            final Sort5 sort) throws ApiException, IOException {
        return prepareGetContributorCollectionItemsRequest(contributorId, id, page, perPage,
                sort).execute();
    }

    /**
     * This endpoint lists the IDs of items in a contributor's collection and the date that each was
     * added.
     * @param  contributorId  Required parameter: Contributor ID
     * @param  id  Required parameter: Collection ID that belongs to the contributor
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort order
     * @return    Returns the CollectionItemDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CollectionItemDataList>> getContributorCollectionItemsAsync(
            final String contributorId,
            final String id,
            final Integer page,
            final Integer perPage,
            final Sort5 sort) {
        try {
            return prepareGetContributorCollectionItemsRequest(contributorId, id, page, perPage,
            sort).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getContributorCollectionItems.
     */
    private ApiCall<ApiResponse<CollectionItemDataList>, ApiException> prepareGetContributorCollectionItemsRequest(
            final String contributorId,
            final String id,
            final Integer page,
            final Integer perPage,
            final Sort5 sort) {
        return new ApiCall.Builder<ApiResponse<CollectionItemDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/contributors/{contributor_id}/collections/{id}/items")
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : null).isRequired(false))
                        .templateParam(param -> param.key("contributor_id").value(contributorId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("customer_accessCode")
                                        .add("basic")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CollectionItemDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Set not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}