/*
 * Shutterstock
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.Expires;
import com.shutterstock.api.models.GrantType;
import com.shutterstock.api.models.OauthAccessTokenResponse;
import com.shutterstock.api.models.Realm2;
import com.shutterstock.api.models.Realm3;
import com.shutterstock.api.models.ResponseType;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class OauthApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public OauthApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint returns a redirect URI (in the 'Location' header) that the customer uses to
     * authorize your application and, together with POST /v2/oauth/access_token, generate an access
     * token that represents that authorization.
     * @param  clientId  Required parameter: Client ID (Consumer Key) of your application
     * @param  redirectUri  Required parameter: The callback URI to send the request to after
     *         authorization; must use a host name that is registered with your application
     * @param  responseType  Required parameter: Type of temporary authorization code that will be
     *         used to generate an access code; the only valid value is 'code'
     * @param  state  Required parameter: Unique value used by the calling app to verify the request
     * @param  realm  Optional parameter: User type to be authorized (usually 'customer')
     * @param  scope  Optional parameter: Space-separated list of scopes to be authorized
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> authorize(
            final String clientId,
            final String redirectUri,
            final ResponseType responseType,
            final String state,
            final Realm2 realm,
            final String scope) throws ApiException, IOException {
        return prepareAuthorizeRequest(clientId, redirectUri, responseType, state, realm,
                scope).execute();
    }

    /**
     * This endpoint returns a redirect URI (in the 'Location' header) that the customer uses to
     * authorize your application and, together with POST /v2/oauth/access_token, generate an access
     * token that represents that authorization.
     * @param  clientId  Required parameter: Client ID (Consumer Key) of your application
     * @param  redirectUri  Required parameter: The callback URI to send the request to after
     *         authorization; must use a host name that is registered with your application
     * @param  responseType  Required parameter: Type of temporary authorization code that will be
     *         used to generate an access code; the only valid value is 'code'
     * @param  state  Required parameter: Unique value used by the calling app to verify the request
     * @param  realm  Optional parameter: User type to be authorized (usually 'customer')
     * @param  scope  Optional parameter: Space-separated list of scopes to be authorized
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> authorizeAsync(
            final String clientId,
            final String redirectUri,
            final ResponseType responseType,
            final String state,
            final Realm2 realm,
            final String scope) {
        try {
            return prepareAuthorizeRequest(clientId, redirectUri, responseType, state, realm,
            scope).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for authorize.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareAuthorizeRequest(
            final String clientId,
            final String redirectUri,
            final ResponseType responseType,
            final String state,
            final Realm2 realm,
            final String scope) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/oauth/authorize")
                        .queryParam(param -> param.key("client_id")
                                .value(clientId))
                        .queryParam(param -> param.key("redirect_uri")
                                .value(redirectUri))
                        .queryParam(param -> param.key("response_type")
                                .value((responseType != null) ? responseType.value() : null))
                        .queryParam(param -> param.key("state")
                                .value(state))
                        .queryParam(param -> param.key("realm")
                                .value((realm != null) ? realm.value() : "customer").isRequired(false))
                        .queryParam(param -> param.key("scope")
                                .value((scope != null) ? scope : "user.view").isRequired(false))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint returns an access token for the specified user and with the specified scopes.
     * The token does not expire until the user changes their password. The body parameters must be
     * encoded as form data.
     * @param  clientId  Required parameter: Client ID (Consumer Key) of your application
     * @param  grantType  Required parameter: Grant type: authorization_code generates user tokens,
     *         client_credentials generates short-lived client grants
     * @param  clientSecret  Optional parameter: Client Secret (Consumer Secret) of your application
     * @param  code  Optional parameter: Response code from the /oauth/authorize flow; required if
     *         grant_type=authorization_code
     * @param  realm  Optional parameter: User type to be authorized (usually 'customer')
     * @param  expires  Optional parameter: Whether or not the token expires, expiring tokens come
     *         with a refresh_token to renew the access_token
     * @param  refreshToken  Optional parameter: Pass this along with grant_type=refresh_token to
     *         get a fresh access token
     * @return    Returns the OauthAccessTokenResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<OauthAccessTokenResponse> createAccessToken(
            final String clientId,
            final GrantType grantType,
            final String clientSecret,
            final String code,
            final Realm3 realm,
            final Expires expires,
            final String refreshToken) throws ApiException, IOException {
        return prepareCreateAccessTokenRequest(clientId, grantType, clientSecret, code, realm,
                expires, refreshToken).execute();
    }

    /**
     * This endpoint returns an access token for the specified user and with the specified scopes.
     * The token does not expire until the user changes their password. The body parameters must be
     * encoded as form data.
     * @param  clientId  Required parameter: Client ID (Consumer Key) of your application
     * @param  grantType  Required parameter: Grant type: authorization_code generates user tokens,
     *         client_credentials generates short-lived client grants
     * @param  clientSecret  Optional parameter: Client Secret (Consumer Secret) of your application
     * @param  code  Optional parameter: Response code from the /oauth/authorize flow; required if
     *         grant_type=authorization_code
     * @param  realm  Optional parameter: User type to be authorized (usually 'customer')
     * @param  expires  Optional parameter: Whether or not the token expires, expiring tokens come
     *         with a refresh_token to renew the access_token
     * @param  refreshToken  Optional parameter: Pass this along with grant_type=refresh_token to
     *         get a fresh access token
     * @return    Returns the OauthAccessTokenResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<OauthAccessTokenResponse>> createAccessTokenAsync(
            final String clientId,
            final GrantType grantType,
            final String clientSecret,
            final String code,
            final Realm3 realm,
            final Expires expires,
            final String refreshToken) {
        try {
            return prepareCreateAccessTokenRequest(clientId, grantType, clientSecret, code, realm, expires,
            refreshToken).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createAccessToken.
     */
    private ApiCall<ApiResponse<OauthAccessTokenResponse>, ApiException> prepareCreateAccessTokenRequest(
            final String clientId,
            final GrantType grantType,
            final String clientSecret,
            final String code,
            final Realm3 realm,
            final Expires expires,
            final String refreshToken) {
        return new ApiCall.Builder<ApiResponse<OauthAccessTokenResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/oauth/access_token")
                        .formParam(param -> param.key("client_id")
                                .value(clientId))
                        .formParam(param -> param.key("grant_type")
                                .value((grantType != null) ? grantType.value() : null))
                        .formParam(param -> param.key("client_secret")
                                .value(clientSecret).isRequired(false))
                        .formParam(param -> param.key("code")
                                .value(code).isRequired(false))
                        .formParam(param -> param.key("realm")
                                .value((realm != null) ? realm.value() : "customer").isRequired(false))
                        .formParam(param -> param.key("expires")
                                .value((expires != null) ? expires.value() : "false").isRequired(false))
                        .formParam(param -> param.key("refresh_token")
                                .value(refreshToken).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/x-www-form-urlencoded").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, OauthAccessTokenResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}