/*
 * ShutterstockApiExplorerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.DateTimeHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.DownloadAvailability;
import com.shutterstock.api.models.DownloadHistoryDataList;
import com.shutterstock.api.models.Language;
import com.shutterstock.api.models.Library2;
import com.shutterstock.api.models.LicenseSfxRequest;
import com.shutterstock.api.models.LicenseSfxResultDataList;
import com.shutterstock.api.models.Sfx;
import com.shutterstock.api.models.SfxDataList;
import com.shutterstock.api.models.SfxSearchResults;
import com.shutterstock.api.models.SfxUrl;
import com.shutterstock.api.models.Sort15;
import com.shutterstock.api.models.Sort5;
import com.shutterstock.api.models.View2;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.time.LocalDate;
import java.time.LocalDateTime;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SoundEffectsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SoundEffectsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint searches for sound effects. If you specify more than one search parameter, the
     * API uses an AND condition.
     * @param  addedDate  Optional parameter: Show sound effects added on the specified date
     * @param  addedDateStart  Optional parameter: Show sound effects added on or after the
     *         specified date
     * @param  addedDateEnd  Optional parameter: Show sound effects added before the specified date
     * @param  duration  Optional parameter: Show sound effects with the specified duration in
     *         seconds
     * @param  durationFrom  Optional parameter: Show sound effects with the specified duration or
     *         longer in seconds
     * @param  durationTo  Optional parameter: Show sound effects with the specified duration or
     *         shorter in seconds
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  query  Optional parameter: One or more search terms separated by spaces
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  sort  Optional parameter: Sort by
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  language  Optional parameter: Set query and result language (uses Accept-Language
     *         header if not set)
     * @return    Returns the SfxSearchResults wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SfxSearchResults> searchSfx(
            final LocalDate addedDate,
            final LocalDate addedDateStart,
            final LocalDate addedDateEnd,
            final Integer duration,
            final Integer durationFrom,
            final Integer durationTo,
            final Integer page,
            final Integer perPage,
            final String query,
            final Boolean safe,
            final Sort15 sort,
            final View2 view,
            final Language language) throws ApiException, IOException {
        return prepareSearchSfxRequest(addedDate, addedDateStart, addedDateEnd, duration,
                durationFrom, durationTo, page, perPage, query, safe, sort, view,
                language).execute();
    }

    /**
     * This endpoint searches for sound effects. If you specify more than one search parameter, the
     * API uses an AND condition.
     * @param  addedDate  Optional parameter: Show sound effects added on the specified date
     * @param  addedDateStart  Optional parameter: Show sound effects added on or after the
     *         specified date
     * @param  addedDateEnd  Optional parameter: Show sound effects added before the specified date
     * @param  duration  Optional parameter: Show sound effects with the specified duration in
     *         seconds
     * @param  durationFrom  Optional parameter: Show sound effects with the specified duration or
     *         longer in seconds
     * @param  durationTo  Optional parameter: Show sound effects with the specified duration or
     *         shorter in seconds
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  query  Optional parameter: One or more search terms separated by spaces
     * @param  safe  Optional parameter: Enable or disable safe search
     * @param  sort  Optional parameter: Sort by
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  language  Optional parameter: Set query and result language (uses Accept-Language
     *         header if not set)
     * @return    Returns the SfxSearchResults wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SfxSearchResults>> searchSfxAsync(
            final LocalDate addedDate,
            final LocalDate addedDateStart,
            final LocalDate addedDateEnd,
            final Integer duration,
            final Integer durationFrom,
            final Integer durationTo,
            final Integer page,
            final Integer perPage,
            final String query,
            final Boolean safe,
            final Sort15 sort,
            final View2 view,
            final Language language) {
        try {
            return prepareSearchSfxRequest(addedDate, addedDateStart, addedDateEnd, duration, durationFrom,
            durationTo, page, perPage, query, safe, sort, view, language).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchSfx.
     */
    private ApiCall<ApiResponse<SfxSearchResults>, ApiException> prepareSearchSfxRequest(
            final LocalDate addedDate,
            final LocalDate addedDateStart,
            final LocalDate addedDateEnd,
            final Integer duration,
            final Integer durationFrom,
            final Integer durationTo,
            final Integer page,
            final Integer perPage,
            final String query,
            final Boolean safe,
            final Sort15 sort,
            final View2 view,
            final Language language) {
        return new ApiCall.Builder<ApiResponse<SfxSearchResults>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx/search")
                        .queryParam(param -> param.key("added_date")
                                .value(DateTimeHelper.toSimpleDate(addedDate)).isRequired(false))
                        .queryParam(param -> param.key("added_date_start")
                                .value(DateTimeHelper.toSimpleDate(addedDateStart)).isRequired(false))
                        .queryParam(param -> param.key("added_date_end")
                                .value(DateTimeHelper.toSimpleDate(addedDateEnd)).isRequired(false))
                        .queryParam(param -> param.key("duration")
                                .value(duration).isRequired(false))
                        .queryParam(param -> param.key("duration_from")
                                .value(durationFrom).isRequired(false))
                        .queryParam(param -> param.key("duration_to")
                                .value(durationTo).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("query")
                                .value(query).isRequired(false))
                        .queryParam(param -> param.key("safe")
                                .value((safe != null) ? safe : true).isRequired(false))
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : "popular").isRequired(false))
                        .queryParam(param -> param.key("view")
                                .value((view != null) ? view.value() : "minimal").isRequired(false))
                        .queryParam(param -> param.key("language")
                                .value((language != null) ? language.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SfxSearchResults.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Service Unavailable",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint shows information about a sound effect.
     * @param  id  Required parameter: Audio track ID
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  library  Optional parameter: Which library to fetch from
     * @param  searchId  Optional parameter: The ID of the search that is related to this request
     * @return    Returns the Sfx wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Sfx> getSfxDetails(
            final int id,
            final Language language,
            final View2 view,
            final Library2 library,
            final String searchId) throws ApiException, IOException {
        return prepareGetSfxDetailsRequest(id, language, view, library, searchId).execute();
    }

    /**
     * This endpoint shows information about a sound effect.
     * @param  id  Required parameter: Audio track ID
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  library  Optional parameter: Which library to fetch from
     * @param  searchId  Optional parameter: The ID of the search that is related to this request
     * @return    Returns the Sfx wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Sfx>> getSfxDetailsAsync(
            final int id,
            final Language language,
            final View2 view,
            final Library2 library,
            final String searchId) {
        try {
            return prepareGetSfxDetailsRequest(id, language, view, library, searchId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getSfxDetails.
     */
    private ApiCall<ApiResponse<Sfx>, ApiException> prepareGetSfxDetailsRequest(
            final int id,
            final Language language,
            final View2 view,
            final Library2 library,
            final String searchId) {
        return new ApiCall.Builder<ApiResponse<Sfx>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx/{id}")
                        .queryParam(param -> param.key("language")
                                .value((language != null) ? language.value() : null).isRequired(false))
                        .queryParam(param -> param.key("view")
                                .value((view != null) ? view.value() : "minimal").isRequired(false))
                        .queryParam(param -> param.key("library")
                                .value((library != null) ? library.value() : null).isRequired(false))
                        .queryParam(param -> param.key("search_id")
                                .value(searchId).isRequired(false))
                        .templateParam(param -> param.key("id").value(id).isRequired(false)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Sfx.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Service Unavailable",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint shows information about sound effects.
     * @param  id  Required parameter: One or more sound effect IDs
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  library  Optional parameter: Which library to fetch from
     * @param  searchId  Optional parameter: The ID of the search that is related to this request
     * @return    Returns the SfxDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SfxDataList> getSfxListDetails(
            final List<String> id,
            final View2 view,
            final Language language,
            final Library2 library,
            final String searchId) throws ApiException, IOException {
        return prepareGetSfxListDetailsRequest(id, view, language, library, searchId).execute();
    }

    /**
     * This endpoint shows information about sound effects.
     * @param  id  Required parameter: One or more sound effect IDs
     * @param  view  Optional parameter: Amount of detail to render in the response
     * @param  language  Optional parameter: Language for the keywords and categories in the
     *         response
     * @param  library  Optional parameter: Which library to fetch from
     * @param  searchId  Optional parameter: The ID of the search that is related to this request
     * @return    Returns the SfxDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SfxDataList>> getSfxListDetailsAsync(
            final List<String> id,
            final View2 view,
            final Language language,
            final Library2 library,
            final String searchId) {
        try {
            return prepareGetSfxListDetailsRequest(id, view, language, library, searchId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getSfxListDetails.
     */
    private ApiCall<ApiResponse<SfxDataList>, ApiException> prepareGetSfxListDetailsRequest(
            final List<String> id,
            final View2 view,
            final Language language,
            final Library2 library,
            final String searchId) {
        return new ApiCall.Builder<ApiResponse<SfxDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx")
                        .queryParam(param -> param.key("id")
                                .value(id))
                        .queryParam(param -> param.key("view")
                                .value((view != null) ? view.value() : "minimal").isRequired(false))
                        .queryParam(param -> param.key("language")
                                .value((language != null) ? language.value() : null).isRequired(false))
                        .queryParam(param -> param.key("library")
                                .value((library != null) ? library.value() : null).isRequired(false))
                        .queryParam(param -> param.key("search_id")
                                .value(searchId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SfxDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint lists existing licenses.
     * @param  sfxId  Optional parameter: Show licenses for the specified sound effects ID
     * @param  license  Optional parameter: Show sound effects that are available with the specified
     *         license, such as `standard` or `enhanced`
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort order
     * @param  username  Optional parameter: Filter licenses by username of licensee
     * @param  startDate  Optional parameter: Show licenses created on or after the specified date
     * @param  endDate  Optional parameter: Show licenses created before the specified date
     * @param  licenseId  Optional parameter: Filter by the license ID
     * @param  downloadAvailability  Optional parameter: Filter licenses by download availability
     * @param  teamHistory  Optional parameter: Set to true to see license history for all members
     *         of your team.
     * @return    Returns the DownloadHistoryDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DownloadHistoryDataList> getSfxLicenseList(
            final String sfxId,
            final String license,
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final String username,
            final LocalDateTime startDate,
            final LocalDateTime endDate,
            final String licenseId,
            final DownloadAvailability downloadAvailability,
            final Boolean teamHistory) throws ApiException, IOException {
        return prepareGetSfxLicenseListRequest(sfxId, license, page, perPage, sort, username,
                startDate, endDate, licenseId, downloadAvailability, teamHistory).execute();
    }

    /**
     * This endpoint lists existing licenses.
     * @param  sfxId  Optional parameter: Show licenses for the specified sound effects ID
     * @param  license  Optional parameter: Show sound effects that are available with the specified
     *         license, such as `standard` or `enhanced`
     * @param  page  Optional parameter: Page number
     * @param  perPage  Optional parameter: Number of results per page
     * @param  sort  Optional parameter: Sort order
     * @param  username  Optional parameter: Filter licenses by username of licensee
     * @param  startDate  Optional parameter: Show licenses created on or after the specified date
     * @param  endDate  Optional parameter: Show licenses created before the specified date
     * @param  licenseId  Optional parameter: Filter by the license ID
     * @param  downloadAvailability  Optional parameter: Filter licenses by download availability
     * @param  teamHistory  Optional parameter: Set to true to see license history for all members
     *         of your team.
     * @return    Returns the DownloadHistoryDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DownloadHistoryDataList>> getSfxLicenseListAsync(
            final String sfxId,
            final String license,
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final String username,
            final LocalDateTime startDate,
            final LocalDateTime endDate,
            final String licenseId,
            final DownloadAvailability downloadAvailability,
            final Boolean teamHistory) {
        try {
            return prepareGetSfxLicenseListRequest(sfxId, license, page, perPage, sort, username, startDate,
            endDate, licenseId, downloadAvailability, teamHistory).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getSfxLicenseList.
     */
    private ApiCall<ApiResponse<DownloadHistoryDataList>, ApiException> prepareGetSfxLicenseListRequest(
            final String sfxId,
            final String license,
            final Integer page,
            final Integer perPage,
            final Sort5 sort,
            final String username,
            final LocalDateTime startDate,
            final LocalDateTime endDate,
            final String licenseId,
            final DownloadAvailability downloadAvailability,
            final Boolean teamHistory) {
        return new ApiCall.Builder<ApiResponse<DownloadHistoryDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx/licenses")
                        .queryParam(param -> param.key("sfx_id")
                                .value(sfxId).isRequired(false))
                        .queryParam(param -> param.key("license")
                                .value(license).isRequired(false))
                        .queryParam(param -> param.key("page")
                                .value((page != null) ? page : 1).isRequired(false))
                        .queryParam(param -> param.key("per_page")
                                .value((perPage != null) ? perPage : 20).isRequired(false))
                        .queryParam(param -> param.key("sort")
                                .value((sort != null) ? sort.value() : "newest").isRequired(false))
                        .queryParam(param -> param.key("username")
                                .value(username).isRequired(false))
                        .queryParam(param -> param.key("start_date")
                                .value(DateTimeHelper.toRfc8601DateTime(startDate)).isRequired(false))
                        .queryParam(param -> param.key("end_date")
                                .value(DateTimeHelper.toRfc8601DateTime(endDate)).isRequired(false))
                        .queryParam(param -> param.key("license_id")
                                .value(licenseId).isRequired(false))
                        .queryParam(param -> param.key("download_availability")
                                .value((downloadAvailability != null) ? downloadAvailability.value() : "all").isRequired(false))
                        .queryParam(param -> param.key("team_history")
                                .value((teamHistory != null) ? teamHistory : false).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DownloadHistoryDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint licenses sounds effect assets.
     * @param  body  Required parameter:
     * @return    Returns the LicenseSfxResultDataList wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<LicenseSfxResultDataList> licensesSfx(
            final LicenseSfxRequest body) throws ApiException, IOException {
        return prepareLicensesSfxRequest(body).execute();
    }

    /**
     * This endpoint licenses sounds effect assets.
     * @param  body  Required parameter:
     * @return    Returns the LicenseSfxResultDataList wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<LicenseSfxResultDataList>> licensesSfxAsync(
            final LicenseSfxRequest body) {
        try {
            return prepareLicensesSfxRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for licensesSfx.
     */
    private ApiCall<ApiResponse<LicenseSfxResultDataList>, ApiException> prepareLicensesSfxRequest(
            final LicenseSfxRequest body) {
        return new ApiCall.Builder<ApiResponse<LicenseSfxResultDataList>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx/licenses")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("basic")
                                        .add("customer_accessCode")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, LicenseSfxResultDataList.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint redownloads sound effects that you have already received a license for. The
     * download links in the response are valid for 8 hours.
     * @param  id  Required parameter: License ID
     * @return    Returns the SfxUrl wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SfxUrl> downloadSfx(
            final String id) throws ApiException, IOException {
        return prepareDownloadSfxRequest(id).execute();
    }

    /**
     * This endpoint redownloads sound effects that you have already received a license for. The
     * download links in the response are valid for 8 hours.
     * @param  id  Required parameter: License ID
     * @return    Returns the SfxUrl wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SfxUrl>> downloadSfxAsync(
            final String id) {
        try {
            return prepareDownloadSfxRequest(id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadSfx.
     */
    private ApiCall<ApiResponse<SfxUrl>, ApiException> prepareDownloadSfxRequest(
            final String id) {
        return new ApiCall.Builder<ApiResponse<SfxUrl>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/sfx/licenses/{id}/downloads")
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("customer_accessCode"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SfxUrl.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}