/*
 * ShutterstockApiExplorerLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shutterstock.api.apis;

import com.shutterstock.api.ApiHelper;
import com.shutterstock.api.Server;
import com.shutterstock.api.exceptions.ApiException;
import com.shutterstock.api.http.request.HttpMethod;
import com.shutterstock.api.http.response.ApiResponse;
import com.shutterstock.api.models.TestEcho;
import com.shutterstock.api.models.TestValidate;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TestApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TestApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  text  Optional parameter: Text to echo
     * @return    Returns the TestEcho wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TestEcho> echo(
            final String text) throws ApiException, IOException {
        return prepareEchoRequest(text).execute();
    }

    /**
     * @param  text  Optional parameter: Text to echo
     * @return    Returns the TestEcho wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TestEcho>> echoAsync(
            final String text) {
        try {
            return prepareEchoRequest(text).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for echo.
     */
    private ApiCall<ApiResponse<TestEcho>, ApiException> prepareEchoRequest(
            final String text) {
        return new ApiCall.Builder<ApiResponse<TestEcho>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/test")
                        .queryParam(param -> param.key("text")
                                .value((text != null) ? text : "ok").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TestEcho.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  id  Required parameter: Integer ID
     * @param  tag  Optional parameter: List of tags
     * @param  userAgent  Optional parameter: User agent
     * @return    Returns the TestValidate wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TestValidate> validate(
            final int id,
            final List<String> tag,
            final String userAgent) throws ApiException, IOException {
        return prepareValidateRequest(id, tag, userAgent).execute();
    }

    /**
     * @param  id  Required parameter: Integer ID
     * @param  tag  Optional parameter: List of tags
     * @param  userAgent  Optional parameter: User agent
     * @return    Returns the TestValidate wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TestValidate>> validateAsync(
            final int id,
            final List<String> tag,
            final String userAgent) {
        try {
            return prepareValidateRequest(id, tag, userAgent).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for validate.
     */
    private ApiCall<ApiResponse<TestValidate>, ApiException> prepareValidateRequest(
            final int id,
            final List<String> tag,
            final String userAgent) {
        return new ApiCall.Builder<ApiResponse<TestValidate>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v2/test/validate")
                        .queryParam(param -> param.key("id")
                                .value(id).isRequired(false))
                        .queryParam(param -> param.key("tag")
                                .value(tag).isRequired(false))
                        .headerParam(param -> param.key("user-agent")
                                .value(userAgent).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TestValidate.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}